@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Teko&display=swap");
* {
  margin: 0;
  padding: 0;
}
.navbar {
  height: 4rem;
  color: skyblue;
}
.webName {
  width: fit-content;
  position: relative;
  top: 18px;
  left: 75px;
  font-weight: 700;
}
.digital-clock {
  font-size: 2em;
  max-width: 250px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0%;
  top: 0%;
  padding: 20px;
}
#info {
  color: lightgreen;
}
#img1 {
  opacity: 0.7;
}
.img {
  position: relative;
  text-align: center;
  color: white;
  /* background-image: linear-gradient(to right, #64a1ff, #88fcfe); */
}

body {
  background-image: url("Weather-web-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.search {
  /* background-image: url("WheatherAppimage.jpg"); */

  height: 200px;
}
#searchbar {
  width: 39vw;
  height: 42px;
  background-image: linear-gradient(to right, #64a1ff, #88fcfe);
  border: none;
  border-radius: 50px;
  color: white;
  position: relative;
  top: 53%;
  padding-left: 18px;
  opacity: 50%;
  box-shadow: 5px 5px 10px gray;
}
#findbtn {
  position: relative;
  top: 53%;
  padding: 11px 19px;
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, #64a1ff, #88fcfe);
  color: white;
  box-shadow: 5px 5px 10px gray;
}
.all_info {
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
  flex-wrap: wrap-reverse;
}
.weatherInfo {
  color: white;
  background-color: rgb(89, 171, 234, 0.3);
  width: 21rem;
  height: 17rem;
  border-radius: 8px;
  box-shadow: 2px 4px 10px 4px gray;
  margin-bottom: 8px;
}
.date_day {
  background-color: rgb(86, 128, 233, 0.3);
  padding: 9px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 34, 116, 0.8);
}
.day {
  display: flex;
  position: relative;
  top: 9px;
  font-family: "Poppins", sans-serif;
}
.date {
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 10px;
  font-family: "Poppins", sans-serif;
}
#loca {
  color: rgb(89, 171, 234);
}
.city {
  padding: 20px 10px;
  font-family: "Poppins", sans-serif;
}
.temp {
  padding: 1px 10px;
  font-size: 28px;
  display: flex;
  color: rgb(0, 34, 116, 0.8);
}
.humidity {
  padding: 10px;
}
#logo {
  color: #03b6ff;
  font-size: 64px;
  padding-left: 4rem;
}
.humidity {
  padding: 0px 10px;
  font-family: "Poppins", sans-serif;
  color: #8860d0;
}
.weblogo {
  color: #03b6ff;
  width: fit-content;
  font-size: 33px;
  position: relative;
  left: 29px;
  bottom: 15px;
}
#color {
  color: red;
  display: flex;

  padding-top: 3rem;
  font-family: "Teko", sans-serif;
  justify-content: center;
}
#humiditylogo {
  color: #03b6ff;
}
#logocloud {
  position: relative;
  bottom: 19px;
}
#findbtn:hover {
  background-color: #43c7fb;
  cursor: pointer;
  border: 2px solid rgb(57, 57, 247);
}
::placeholder {
  color: #fccd04;
  font-family: "Teko", sans-serif;
  font-size: 20px;
}
.listLocation {
  background-color: rgb(0, 34, 116, 0.8);
  color: #fccd04;
  padding: 14px;
  border-radius: 4px;
  word-spacing: 13px;
  margin: 10px;
  margin-left: 9rem;
  box-shadow: 5px 5px 10px gray;
}
@media only screen and (max-width: 1080px) {
  .listLocation {
    margin-left: 2rem;
  }
  .all_info {
    justify-content: center;
  }
  body {
    background-color: 2000px;
  }
}
@media only screen and (max-width: 800px) {
  .weatherInfo {
    left: 32%;
  }
  .listLocation {
    margin-left: 2rem;
  }
  .all_info {
    justify-content: center;
  }
  body {
    background-size: 1700px;
  }
}
@media only screen and (max-width: 600px) {
  .weatherInfo {
    margin-left: 3rem;
  }
  .all_info {
    justify-content: center;
  }
  .listLocation {
    margin-left: 20px;
  }
  body {
    background-size: 1350px;
  }
  #searchbar {
    width: 12rem;
  }
}
@media only screen and (max-width: 400px) {
  .weatherInfo {
    margin-left: 3rem;
  }
  .all_info {
    justify-content: center;
  }
  .listLocation {
    margin-left: 20px;
  }
  body {
    background-size: 1350px;
  }
  #searchbar {
    width: 12rem;
  }
  .digital-clock {
    font-size: 17px;
  }
  .list {
    width: 340px;
    padding: 0px 18px;
  }
}
